*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  width: 300px;
  height: 300px;
}

.cell {
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  cursor: pointer;
}

.cell:hover {
  background: #efefef;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

.x::after {
  content: "❌";
}

.o::after {
  content: "⭕";
}

.disabled {
  background-color: transparent !important;
  cursor: default !important;
}
